Django
requests
python-dotenv
django-allauth
Pillow
django-extensions
graphviz
# pygraphviz
gunicorn
whitenoise
psycopg[binary] 
dj-database_url
django-silk
django-prometheus
celery
redis
django-celery-results
django-celery-beat
django-extensions
gevent