{% extends "movies/base.html" %}

{% block content %}

<div class="row">
    <h4>Results of {{query}} search</h4>
    
{% for movie in movies %}
<div class="col-lg-2 col-md-3 col-sm-6">
    <a href="{% url 'movie_detail' movie_id=movie.id %}">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
            <h5>{{ movie.title}}</h5>
            <p class="card-text">Ratings: {{movie.vote_average}}
        </div>
    </a>
</div>
{% endfor%}
</div>

{% endblock %}